html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden; }

a {
  color: #fff;
  text-decoration: none; }

#wrapper {
  overflow-x: hidden;
  overflow-y: scroll; }

#templates {
  display: none; }

#todo, #done {
  width: 100%;
  top: 0;
  left: 0;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden; }

#status, .task {
  height: 60px;
  -webkit-user-select: none;
  -webkit-backface-visibility: hidden;
  position: relative;
  z-index: 1; }
  #status .content, .task .content {
    z-index: 1000;
    height: 58px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: bold;
    border-top: 1px solid rgba(255, 255, 255, 0.07);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: relative; }
  #status .behind, .task .behind {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: -1000; }
    #status .behind .check, #status .behind .cross, .task .behind .check, .task .behind .cross {
      display: block;
      width: 55px;
      height: 60px;
      position: absolute;
      top: 0; }
    #status .behind .check, .task .behind .check {
      left: 0; }
    #status .behind .cross, .task .behind .cross {
      right: 0; }

#status {
  margin-bottom: 10px; }
  #status .content {
    background-color: #00AA33; }
    #status .content #day-start, #status .content #day-end {
      position: absolute;
      top: 12px;
      color: #000;
      text-align: center; }
      #status .content #day-start .time, #status .content #day-end .time {
        font-size: 18px; }
      #status .content #day-start .suffix, #status .content #day-end .suffix {
        font-size: 12px;
        text-transform: uppercase; }
      #status .content #day-start .label, #status .content #day-end .label {
        font-size: 11px; }
    #status .content #day-start {
      left: 10px; }
    #status .content #day-end {
      right: 10px; }
    #status .content #reserve-left {
      padding-left: 60px;
      padding-right: 60px;
      padding-top: 5px;
      text-align: center; }
      #status .content #reserve-left .time {
        font-size: 30px; }
      #status .content #reserve-left .label {
        font-size: 12px; }

.task .content {
  background-color: #0086F3;
  line-height: 58px; }
  .task .content.green {
    background-color: #00AA33 !important; }
  .task .content.done {
    background-color: #111 !important;
    color: #555; }
    .task .content.done .name input[type="text"] {
      color: #555;
      text-decoration: line-through; }
.task .name {
  position: relative;
  padding-right: 70px; }
  .task .name input[type="text"] {
    width: 100%;
    border: none;
    background: transparent;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    position: relative;
    left: -1px; }
.task .duration {
  position: absolute;
  right: 0;
  top: -1px;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background-color: rgba(255, 255, 255, 0.15); }

#new-task, #clear-tasks {
  height: 60px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #222222), color-stop(100%, #111111));
  background-image: -webkit-linear-gradient(top, #222222, #111111);
  background-image: -moz-linear-gradient(top, #222222, #111111);
  background-image: -o-linear-gradient(top, #222222, #111111);
  background-image: -ms-linear-gradient(top, #222222, #111111);
  background-image: linear-gradient(top, #222222, #111111);
  color: #777;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 60px; }

#clear-tasks {
  border-bottom: 1px solid #222; }
